* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: black;
    float: right;
    text-align: right;
    padding: 25px;
    position: fixed;
    top: 0; 
    width: 100%;
}

nav a {
    font-size: large;
    font-weight: 900;
    padding: 20px;
}

#welcome-section {
    height: 100vh;
    margin: 200px 200px;
    padding: 200px 200px;
    text-align: center;
}

#projects {
    background-color: white;
}

.project-tile {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#contact {
    /* background-color: black; */
    text-align: center;
}

.fa {
    padding: 40px;
    margin: 50px 20px;
    font-size: 30px;
    width: 50px;
    height: 5px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-email {
    background: red;
    color: white;
  }

  .fa-github {
    background: black;
    color: white;
  }

  @media only screen and (max-width: 1034px) {
    #welcome-section {
        height: 100vh;
        float: left;
    }

    #project-tile {
        float: right;
    }
  }