* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: aqua;
    float: right;
    text-align: right;
    padding: 25px;
    position: fixed;
    top: 0; 
    width: 100%;
}

nav a {
    font-size: large;
    font-weight: 900;
    padding: 20px;
}

#welcome-section {
    background-color: orange;
    margin: 200px 200px;
    padding: 200px 200px;
    border: 5px;
    border-style: dotted;
    text-align: center;
}

.project-tile {
    background-color: black;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 15px;
}

#contact {
    width: 100%;
    background-color: black;
    text-align: center;
    }

.fa {
    padding: 50px;
    font-size: 700px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-google {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background: #007bb5;
    color: white;
}